* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@font-face {
  font-family: Helvetica\ LT;
  src: url(../assets/fonts/Helvetica\ LT.ttf);
}

html {
  font-family: Helvetica\ LT;
  font-size: 62.5%;
}
 
li {
    list-style: none;
  }

a:active {
  text-decoration: none;
  color: #267DB1;
  font-size: 1.3rem;
  font-weight: bold;
}

/*      HEADER        */

nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_img {
  background: url("../imagenes/semillero_mentores\ 1.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.header_img2 {
  background: url("../imagenes/slice-1.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.header_img3 {
  background: url("../imagenes/semillero_esutiantes.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.header_img4 {
  background: url("../imagenes/semillero_comprometidos.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.header_img5 {
  background: url("../imagenes/semillero_blog.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.bajada {
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 40px;
}

h1 {
  font-family: Helvetica LT;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -0.015em;
  text-align: left;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.flexrev {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

}

.flex2 {
  display: flex;
  flex-direction: row;
  

}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header ul li {
    margin-right: 30px;
    font-weight: 900;
   
}

header ul li a {
  text-decoration: none;
  color: #27aefd;
  font-size: 1.3rem;
}

.logo {
    margin-left: 30px;
}

.white {
  color: #fff;
}

/*     SECTION  01     */

.land {
  height: 830px;
  background: url("../imagenes/elipse.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  display: flex;
  justify-content: center;

  /*height: 400px;
  object-fit: contain;*/
}

.rect {
  position: absolute;
  width: 65%;
  height: 700px;
  margin-top: 70px;
  background: #FFFFFF;
  border-radius: 14px;
}

.borde1 {
  height: 90px;
  width: 2px;
  margin-left: 88px;
  border: 2px dashed #26ABFF;
}

.vineta1 {
  height: 20px;
  width: 20px;
  margin-left: 80px;
  border-radius: 50%;
  background: #26ABFF;
}

.borde2 {
  height: 180px;
  width: 2px;
  margin-left: 88px;
  border: 2px dashed #26ABFF;
}

.vineta2 {
  height: 20px;
  width: 20px;
  margin-left: 80px;
  border-radius: 50%;
  background: #26ABFF;
}

.borde3 {
  height: 220px;
  width: 2px;
  margin-left: 88px;
  border: 2px dashed #26ABFF;
}

.vineta3 {
  height: 20px;
  width: 20px;
  margin-left: 80px;
  border-radius: 50%;
  background: #26ABFF;
}

h2 {
  font-family: Helvetica LT;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.015em;


}



.punteada {
  width: 20%;
}

.tres_items {
  padding-right: 160px;
  text-align:left ;
}

.adquiri {
  padding-top: 78px;
}

.perfiles {
  padding-top: 158px;
}

.trabajo {
  padding-top: 108px;

}

/*     SECTION  02     */

.cursos {
  background: #F7F7F7;
  height: 808px;
 
}

.contenedor {
  width: 46%;
  margin: auto;
  
}

.flex-colum {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-content: center;
  justify-content: left;
  padding-left: 30px;
  align-items: center;
}

.tarjeta {
  background: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 24px;
  margin-top: 40px;

}

.descripcion_curso {
  padding-left: 30px;
}

.link_prog {
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 2rem;
  /* identical to box height */

  text-decoration-line: underline;

  color: #267DB1;

}

.pCurso {
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 28px;
  /* Gris oscuro */
  color: #767676;
}

.titulo {
  text-align: center;
  align-items: center;
  justify-content: center;
}

/*     SECTION  03     */

.section03 {
  background: #F7F7F7;

}

.explota {
  height: 450px;
  background: url("../imagenes/elipse-2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;

}

.h2white {
  font-family: Helvetica LT;
font-size: 4.5rem;
font-style: normal;
font-weight: 700;
line-height: 64px;
letter-spacing: -0.015em;
text-align: left;
color:white;

}


/*     FOOTER        */

footer {
  padding: 90px 75px 90px 75px;
  background: #F7F7F7;

}

h3 {
  font-family: Helvetica LT;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.015em;
  text-align: left;

}

h4 {
font-family: Helvetica LT;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #767676;
}

.boton {
  background-color: #267DB1 ;
  border-radius: 50px;
  text-align: center;
  position: relative;
  font-weight: 500;
  outline: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  width: 160px;
  height: 38px ;
  border: none;
  transition: all 500ms ease;
  text-decoration: none;
}

button {
  background-color: #267DB1 ;
  border-radius: 50px;
  text-align: center;
  position: relative;
  font-weight: 500;
  outline: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  width: 140px;
  height: 38px ;
  border: none;
  transition: all 500ms ease;
}

.btn {
  background-color: #ffffff ;
  border-radius: 50px;
  text-align: center;
  position: relative;
  font-weight: 500;
  outline: none;
  color: #267DB1;
  font-weight: 500;
  font-size: 1.4rem;
  width: 140px;
  height: 38px ;
  border: none;
  transition: all 500ms ease;
}

.but {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  border: 1px solid #B2B2B2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 38px;
  width: 280px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
}

.fotlinks {
  padding-right: 80px;
}

.padbot20 {
  padding-bottom: 20px;
}

.padbot40 {
  padding-bottom: 40px;
}

.padtop20 {
  padding-top: 20px;
}

.padtop10 {
  padding-top: 10px;
}

.padR20 {
  padding-right: 20px;
}

.padtop40 {
  padding-top: 40px;
}

.line {
  height: 1px;
  background: #C4C4C4;
  padding-right: 75px;
  padding-left: 75px;
}

.ul_marg {
  margin-right: 140px;
}

.bold {
  font-family: Helvetica;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

}

.boldmax {
  font-family: Helvetica;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  
  letter-spacing: 0em;
  text-align: left;

}

footer ul li a{
  text-decoration: none;
  font-family: Helvetica LT;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
}


/*     QUIENES SOMOS      */

.m1 {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-bottom: 90px;
  object-fit: cover;


}


.m1b {
  width: 100%;
  height: 100%;
  padding-right: 50px;
  object-fit: cover;


}

.imgsize {
  width: 500px;
  width: 40vw;
}

.quees {
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;

}

.queesb {
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;

}

.quees_desc {
  display: flex;
  padding-left: 80px;
  padding-top: 20px;
  width: 60%;
  line-height: 3.3rem;
 
}

.alingR {
  text-align: right;
}

.grey {
  background-color:#F7F7F7 ;
}

.contenedor2 {
  display: flex;
  margin: auto;
  width: 90%;
  padding-top: 50px;
  padding-bottom: 40px;
}

.contenedor3 {
  display: flex;
  justify-content:right ;
  margin: auto;
  width: 70%;
  padding-bottom: 30px;
}

.dv1 {
  padding-right: 30px;
  border-left: #26ABFF solid 6px;

}

.dv2{
  padding-left: 10px;
  border-left: #A2DD1E solid 6px;

}
.dv3 {
  padding-right: 30px;
  border-left: #FFA400 solid 6px;

}

.dv4{
  padding-left: 10px;
  border-left: #26ABFF solid 6px;

}

.padlef20 {
  padding-left: 10px;
}


/*      BLOG      */

.blog_m1 {
  width: 50%;
  background-color: deeppink;
  height: 300px;
  padding-left: 45px;
}

.blog_m2 {
  width: 50%;
  background-color: forestgreen;
  height: 300px;
}

.flex_blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;

}

.contenedor-foto {
  width: 300px;
    height: 300px;
    

}

.img-blog {
  object-fit: cover;
}

.nosotros {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
}

.nosotros2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 80px;
}

.mitad {
  width: 100%;
  margin: auto;
  padding: 20px;
}

.mitad2 {
  width: 100%;
  margin: auto;
  text-align: right;
  padding: 20px;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.line_h {
  line-height: 0;
}

.resise {
  width: 100%;
  height: 100%;
  object-fit: cover;
}