* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@font-face {
  font-family: Helvetica\ LT;
  src: url(../assets/fonts/Helvetica\ LT.ttf);
}

html {
  font-family: Helvetica\ LT;
  font-size: 62.5%;
}
 
li {
    list-style: none;
  }

/*      HEADER        */

nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_img {
  background: url("http://placehold.it/1920x500");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.bajada {
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 40px;
}

h1 {
  font-family: Helvetica LT;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -0.015em;
  text-align: left;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header ul li {
    margin-right: 30px;
    font-weight: 900;
   
}

header ul li a {
  text-decoration: none;
  color: #27aefd;
  font-size: 1.3rem;
}

.logo {
    margin-left: 30px;
}


/*     SECTION       */

.land {
  height: 1800px;
  background: url("../imagenes/elipse.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  /*height: 400px;
  object-fit: contain;*/
}

/*     FOOTER        */

footer {
  padding: 90px 75px 90px 75px;
  background: #F7F7F7;

}

h3 {
  font-family: Helvetica LT;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.015em;
  text-align: left;

}

h4 {
font-family: Helvetica LT;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #767676;
}

.boton {
  background-color: #267DB1 ;
  border-radius: 50px;
  text-align: center;
  position: relative;
  font-weight: 500;
  outline: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  width: 160px;
  height: 38px ;
  border: none;
  transition: all 500ms ease;
}

button {
  background-color: #267DB1 ;
  border-radius: 50px;
  text-align: center;
  position: relative;
  font-weight: 500;
  outline: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  width: 140px;
  height: 38px ;
  border: none;
  transition: all 500ms ease;
}

.but {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  border: 1px solid #B2B2B2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 38px;
  width: 280px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
}

.fotlinks {
  padding-right: 80px;
}

.padbot20 {
  padding-bottom: 20px;
}

.padbot40 {
  padding-bottom: 40px;
}

.padtop20 {
  padding-top: 20px;
}

.padtop10 {
  padding-top: 10px;
}

.padR20 {
  padding-right: 20px;
}

.padtop40 {
  padding-top: 40px;
}

.line {
  height: 1px;
  background: #C4C4C4;
  padding-right: 75px;
  padding-left: 75px;
}

.ul_marg {
  margin-right: 140px;
}

.bold {
  font-family: Helvetica;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

}

footer ul li a{
  text-decoration: none;
  font-family: Helvetica LT;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
}